.mycred-badge {
    display: flex;
    flex-wrap: wrap;
    background: #ffffff;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    font-size: 14px;
    margin-bottom: 20px;
    padding: 18px;
}

.mycred-badge.basic {
    flex-flow: column;
    justify-content: center;
    text-align: center;
    width: fit-content;
}

.mycred-badge:not(.basic) .mycred-badge-image {
    margin-right: 18px;
}

.mycred-badge:not(.basic) .mycred-badge-detail {
    flex: 1
}

.mycred-badge.basic .mycred-badge-image {
    margin-bottom: 5px;
}

.mycred-badge .mycred-badge-title {
    margin: 0;
    text-transform: capitalize;
    line-height: 16px;
}

.mycred-badge .mycred-badge-title a{
    font-weight: 600;
}

.mycred-badge .mycred-badge-title a,
.mycred-badge .mycred-badge-requirements a {
    text-decoration: none;
}

.mycred-badge .mycred-badge-excerpt {
    
}

.mycred-badge .mycred-badge-requirements {
    padding-left: 16px;
    margin-top: 0;
}

.mycred-badge .mycred-badge-earners {
    padding-left: 0;
    margin: 0;
}

.mycred-badge .mycred-badge-earners li {
    display: inline-block;
    margin: 5px 5px 0 5px;
}

.mycred-badge .mycred-badge-earners img {
    width: 50px;
    border-radius: 100%;
}

.mycred-badge h6 {
    margin: 0;
    font-size: 14px;
    font-weight: bold;
    text-transform: capitalize;
}

.mycred-badges, 
.mycred-user-badges {
    display: flex;
    flex-wrap: wrap;
}

.mycred-badges.horizontal,
.mycred-user-badges.horizontal {
    flex-flow: row;
}

.mycred-badges.horizontal .mycred-badge .mycred-badge-image,
.mycred-user-badges.horizontal .mycred-badge .mycred-badge-image {
    margin-bottom: 5px;
}

.mycred-badges.vertical,
.mycred-user-badges.vertical {
    flex-flow: column;
}

.mycred-badges > .mycred-badge:not(.basic), 
.mycred-user-badges > .mycred-badge:not(.basic) {
    flex: 1;
    margin-right: 10px;
    min-width: 150px;
}

.mycred-badges.horizontal > .mycred-badge,
.mycred-user-badges.horizontal > .mycred-badge {
    flex-flow: column;
}

.mycred-badges > .mycred-badge.basic,
.mycred-user-badges > .mycred-badge.basic {
    min-width: 100px;
    width: fit-content;
    margin-right: 10px;
}

.mycred-user-badges.inline .mycred-badge.basic {
    display: block;
    flex: none;
    background: none;
    border: none;
    padding: 0;
}

.mycred-user-badges.inline .mycred-badge.basic > div {
    display: inline-flex;
    vertical-align: middle;
}

.mycred-badge-earners-block h6,
.mycred-badge-requirements-block h6 {
    font-size: 36px;
    text-transform: initial;
    font-weight: 300;
    margin: 10px 0 0 0;
}

.mycred-badge-earners-block ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.mycred-badge-earners-block li {
    display: inline-block;
    margin: 5px;
    text-align: center;
}

.mycred-badge-earners-block li img {
    max-width: 96px;
}

.mycred-badge-earners-block li p {
    margin: 0;
    text-align: center;
}

.mycred-badge-requirements-block .mycred-badge-requirements {
    margin-top: 0;
}