.mycred-rank {
	display: flex;
	flex-wrap: wrap;
	background: #ffffff;
	border: 1px solid #dcdcdc;
	border-radius: 5px;
	font-size: 14px;
	margin-bottom: 20px;
	padding: 18px;
}

.mycred-rank.basic {
	flex-flow: column;
	justify-content: center;
	text-align: center;
	width: fit-content;
}

.mycred-rank:not(.basic) .mycred-rank-image {
	margin-right: 18px;
}

.mycred-rank:not(.basic) .mycred-rank-detail {
	flex: 1
}

.mycred-rank.basic .mycred-rank-image {
	margin-bottom: 5px;
}

.mycred-rank .mycred-rank-title {
	margin: 0;
	text-transform: capitalize;
	line-height: 16px;
}

.mycred-rank .mycred-rank-title a,
.mycred-rank .mycred-rank-requirements a {
	text-decoration: none;
}

.mycred-rank .mycred-rank-excerpt {

}

.mycred-rank .mycred-rank-requirements {
	padding-left: 16px;
	margin-top: 0;
}

.mycred-rank .mycred-rank-earners {
	padding-left: 0;
	margin: 0;
}

.mycred-rank .mycred-rank-earners li {
	display: inline-block;
	margin: 5px 5px 0 5px;
}

.mycred-rank .mycred-rank-earners img {
	width: 50px;
	border-radius: 100%;
}

.mycred-rank h6 {
	margin: 0;
	font-size: 14px;
	font-weight: bold;
	text-transform: capitalize;
}

.mycred-ranks,
.mycred-user-ranks {
	display: flex;
	flex-wrap: wrap;
}

.mycred-ranks.horizontal,
.mycred-user-ranks.horizontal {
	flex-flow: row;
}

.mycred-ranks.horizontal .mycred-rank .mycred-rank-image,
.mycred-user-ranks.horizontal .mycred-rank .mycred-rank-image {
	margin-bottom: 5px;
}

.mycred-ranks.vertical,
.mycred-user-ranks.vertical {
	flex-flow: column;
}

.mycred-ranks > .mycred-rank:not(.basic),
.mycred-user-ranks > .mycred-rank:not(.basic) {
	flex: 1;
	margin-right: 10px;
	min-width: 150px;
}

.mycred-ranks.horizontal > .mycred-rank,
.mycred-user-ranks.horizontal > .mycred-rank {
	flex-flow: column;
}

.mycred-ranks > .mycred-rank.basic,
.mycred-user-ranks > .mycred-rank.basic {
	min-width: 100px;
	width: fit-content;
	margin-right: 10px;
}

.mycred-user-ranks.inline .mycred-rank.basic {
	display: block;
	flex: none;
	background: none;
	border: none;
	padding: 0;
}

.mycred-user-ranks.inline .mycred-rank.basic > div {
	display: inline-flex;
	vertical-align: middle;
}

.mycred-rank-earners-block h6,
.mycred-rank-requirements-block h6 {
	font-size: 36px;
	text-transform: initial;
	font-weight: 300;
	margin: 10px 0 0 0;
}

.mycred-rank-earners-block ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.mycred-rank-earners-block li {
	display: inline-block;
	margin: 5px;
	text-align: center;
}

.mycred-rank-earners-block li img {
	max-width: 96px;
}

.mycred-rank-earners-block li p {
	margin: 0;
	text-align: center;
}

.mycred-rank-requirements-block .mycred-rank-requirements {
	margin-top: 0;
}