/* mycred badges list shortcode */
.mycred-badges-list-panels {
    border-top: 0px solid #47525d;
}
.mycred-badges-list-item h3 {
    color: #5e2ced;
}
.mycred-badge-count {
    background: #5e2ced;
}
ul.mycred-badges-list-tabs {
    padding-bottom: 10px;
}
ul.mycred-badges-list-tabs li.active {
    border: 1px solid #5e2ced;
    border-radius: 5px;
}
.mycred-badges-list-item {
    border: 1px solid #E7E9EC;
    margin-bottom: 10px;
    border-radius: 5px;
    background: white;
}
.mycred-badges-list-item img {
    width: 15%;
}
.mycred-badges-list-item.not-earned {
    filter: grayscale(0);
}
.mycred-badges-list-item.not-earned img {
    filter: grayscale(1);
}
/* end */

/* mycred badges shortcode */
.mycred-single-badge {
    display: inline-flex;
    padding: 10px;
    border: 1px solid #dcdcdc;
    margin: 10px;
    width: calc(50% - 20px);
}
.mycred-badge-img {
    flex: 0 0 90px;
    margin-right: 12px;
}
.mycred-badge-title {
    margin-bottom: 8px;
}
#mycred-all-badges ul {
    margin: 0 0 0 16px;
    font-size: 14px;
}
ul.mycred-badge-requirement-list span {
    display: block;
    font-size: 11px;
    line-height: 11px;
    font-weight: bolder;
}
#mycred-all-badges ul li {
    display: list-item;
    margin-right: 54px;
    list-style-type: square;
}
/* end */

/* mycred my badges shortcode */
.mycred-users-badges {
    border: 2px solid #e7e9ec;
    border-color: #E7E9EC;
    background-color: white;
    padding: 30px 30px 20px 30px;
}
.mycred-horizontal {
    display: flex;
    justify-content: space-evenly;
}
.mycred-users-badges .the-badge.horizontal {
    flex-direction: column;
}
.mycred-users-badges .the-badge.vertical {
    padding: 15px;
    border: 1px solid #dcdcdc;
}
.the-badge {
    align-items: center;
    justify-content: normal;
}
.mycred-badge-content .title {
    color: #5e2ced;
}
/* end */

/* mycred buy shortcode */
.mycred-buy-link {
    margin: 5px 0;
}
/* end */

/* mycred buy form shortcode */
.myCRED-buy-form {
    border: 2px solid #e7e9ec;
    border-color: #E7E9EC;
    background-color: white;
    padding: 15px 25px;
    line-height: 50px;
}
.form.myCRED-buy-form label {
    display: block;
    margin: 10px 0px;
}
/* end */

/* mycred buy pending shortcode */
#pending-buycred-payments-mycred_default{
    background: white;
}
#pending-buycred-payments-mycred_default .table tr:nth-child(even) {
/*  background-color: #D6EEEE;*/
    background-color: #f7f8f8;
}
#pending-buycred-payments-mycred_default .table th,td {
    border-left: 1px solid #e7e9ec
}
#pending-buycred-payments-mycred_default .table tr td a {
    color: #5e2ced;
    outline: 0;
    text-decoration: none;
    border: 1px solid #5e2ced;
    padding: 3px 15px;
    border-radius: 15px;
}
#pending-buycred-payments-mycred_default .mycred-buycred-action-button {
    color: #fff !important;
    background: #5e2ced;
}
/* end */

/* mycred my rank shortcode */
.mycred-my-rank {
    display: grid;
    margin: 20px;
    text-align: center;
}
.mycred-my-rank img {
    display: block;
    margin: auto;
    margin-bottom: 5px !important;
}
.mycred-my-rank:before {
    content: "You Current Rank in Points";
    margin-bottom: 20px;
    display: block;
}
/* end */

/* mycred my ranks shortcode */
.mycred-all-my-ranks {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin: 20px !important;
}
.mycred-all-my-ranks .mycred-my-rank:before {
    margin-bottom: 20px;
    display: block;
}
.mycred-my-rank.mycred_default:before {
    content: "You Current Rank in Points";
}
.mycred-my-rank.coin:before {
    content: "You Current Rank in Coins";
}
/* end */

/* mycred rank list shortcode */
ul.mycred-rank-list {
    margin: 0;
}
ul.mycred-rank-list li {
    display: inline-flex;
    padding: 10px;
    border: 1px solid #dcdcdc;
    width: calc( 50% - 24px );
}
ul.mycred-rank-list img {
    width: 100px !important;
}
@media screen and (max-width: 768px) {
    ul.mycred-rank-list li {
        display: flex;
        width: calc( 100% - 24px );
    }
}
/* end */

/* mycred users all ranks shortcode */
.mycred-all-ranks-wrapper .mycred-rank {
    display: flex;
    padding: 10px;
    border: 1px solid #dcdcdc;
    margin: 10px;
    align-items: center;
}
.mycred-rank > h2 {
    margin-bottom: 0;
    margin-right: 20px;
    padding-right: 10px;
    border-right: 1px solid #dcdcdc;
    min-width: 180px;
    text-align: center;
}
.mycred-all-ranks-wrapper .mycred-rank img {
    display: block;
    margin: auto;
}
.mycred-users-of-rank-wrapper {
    flex: 1;
    text-align: start;
}
.mycred-users-of-rank-wrapper p {
    display: inline-grid;
    padding: 8px;
    margin: 2px !important;
    text-align: center;
}
/* end */

/* mycred cashcred shortcode */
#cashcred ul.cashcred-nav-tabs li.active {
    background-color: var(--bb-login-register-link-color-hover) !important;
    color: #fff !important;
}
#cashcred select {
    padding: 10px !important;
}
#cashcred {
    margin: 7px 0px;
}
/* end */

/* mycred coupon shortcode */
.mycred-coupon-form label {
    display: block;
    margin-bottom: 0px;
}
.mycred-coupon-form .btn {
    margin: 10px 0 !important
}
/* end */

/* mycred exchange shortcode */
.mycred-exchange {
    margin-bottom: 0 !important;
    line-height: 20px;
    width: 100%;
}
.mycred-exchange .col-lg-3 {
    padding: 10px 0px !important;
    margin-bottom: 0;
}
.mycred-exchange .col-lg-3 .form-control-static{
    margin: 0;
}
/* end */

/* mycred transfer shortcode */
form#mycred-transfer-form-transfer {
    background: #fff;
    border: 1px solid #dcdcdc;
    box-shadow: none;
}
form#mycred-transfer-form-donation {
    background: #ffff;
    box-shadow: none;
    border: 1px solid #dcdcdc;
}
/* end */

/* mycred best user shortcode*/
.mycred-best-user {
    border: 2px solid #e7e9ec;
    border-color: #E7E9EC;
    background-color: white;
    padding: 15px 20px;
    width: fit-content;
}
.mycred-best-user > h4 {
    margin-bottom: 0px;
}
/* end */

/* mycred_history shortcode */
.mycred-history-wrapper .table tr:nth-child(even), .bb-profile-grid .mycred-table tr:nth-child(even) {
    background-color: #f7f8f8;
}
/* end */

/* mycred hook table */
.mycred-hook-table tr:nth-child(even) {
    background-color: #f7f8f8;
}
/* end */

/* mycred leaderboard */
.mycred-tbl-wrapper tr:nth-child(even) {
    background-color: #f7f8f8;
}
.mycred-leaderboard-custom {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    padding: 15px 0;
}
.mycred-leaderboard-custom .mycred-leaderboard-title {
    margin-bottom: 10px !important;
}
.mycred-leaderboard-custom .mycred-leaderboard-user {
    margin-bottom: 15px !important;
}
.mycred-leaderboard-custom .mycred-leaderboard-points {
    margin-bottom: 10px !important;
}
/* end */

/* buddypress profile page Badge/Ranks */
.bb-user-content-wrap .mycred-users-badges, .bb-user-content-wrap .mycred-users-badges .the-badge.vertical {
    border: none;
    padding: 0;
    display: inline-block;
}
.bb-user-content-wrap .mycred-my-rank {
    margin: 5px 0;
    text-align: unset;
}
.bb-user-content-wrap .mycred-my-rank:before {
    content: none;
}
.bp-profile-content .mycred-users-badges{ 
    border: none;
    padding: 0;
    display: inline-flex;
    background-color: transparent;
}
.bp-profile-content .mycred-users-badges .the-badge.vertical {
    margin: 0 5px;
    background-color: #fff;
}
.bp-profile-content .mycred-my-rank {
    text-align: unset;
}
.bp-profile-content #mycred-users-rank .label {
    padding: 20px 0 !important;
}
.bp-profile-content .mycred-my-rank:before {
    content: none;
}
/* end */