.mycred-woo-fields-wrapper {
    border-style: solid;
    border-width: 1px 0 0;
    padding: 16px 0;
    position: relative;
    border-color: #d3d3d3;
    font-size: 1.25rem;
}

.mycred-woo-order-total, .mycred-woo-total-credit {
    padding-left: 16px;
    padding-right: 16px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.mycred-woo-order-total-label, .mycred-woo-total-credit-label {
    flex-grow: 1;
}

.mycred-woo-order-total-value, .mycred-woo-total-credit-value {
    white-space: nowrap;
    font-weight: 700;
}

div.disable {
    display: none;
    padding: 0px;
}

.low-balance {
    color: red;
}

.wrapper-disabled {
    border: none;
}

div.mycred-woo-fields-wrapper.cart-wrap-dis {
    padding: 0px;
}